@model SalesSummaryReport

@{
    ViewData["Title"] = "Sales Summary Report";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="content">
    <div class="container-fluid">
        <div class="card">
            <div class="card-header">
                <h5>@ViewData["Title"]</h5>
            </div>
            <div class="col-md-6">
                <form asp-action="PrintReview" class="form-horizontal">
                    <div class="card-body">
                        <div class="form-group row">
                            <label asp-for="FromDateTime" class="col-6 col-form-label"></label>
                            <div class="col-6">
                                <input asp-for="FromDateTime" type="date" class="form-control" id="inputServer">
                                <span asp-validation-for="FromDateTime" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label asp-for="ToDateTime" class="col-6 col-form-label"></label>
                            <div class="col-6">
                                <input asp-for="ToDateTime" type="date" class="form-control" id="inputServer">
                                <span asp-validation-for="ToDateTime" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label asp-for="Location" class="col-6 col-form-label"></label>
                            <div class="col-6">
                                <select asp-for="Location" asp-items="ViewBag.LocationList" class="form-control form-select" style="width: 100%">
                                    <option value="All">Select One</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label asp-for="POSId" class="col-6 col-form-label"></label>
                            <div class="col-6">
                                <select asp-for="POSId" asp-items="ViewBag.POSIdList" class="form-control form-select" style="width: 100%">
                                    <option value="All">Select One</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label asp-for="ShiftNo" class="col-6 col-form-label"></label>
                            <div class="col-6">
                                <input asp-for="ShiftNo" class="form-control" id="inputDatabase">
                                <span asp-validation-for="ShiftNo" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label asp-for="ReportView" class="col-6 col-form-label"></label>
                            <div class="col-6">
                                <div class="form-check">
                                    <input asp-for="ReportView" type="radio" class="form-check-input" value="Detail" id="detailRadio" checked>
                                    <label class="form-check-label" for="detailRadio">Detail</label>
                                </div>
                                <div class="form-check">
                                    <input asp-for="ReportView" type="radio" class="form-check-input" value="Summary" id="summaryRadio">
                                    <label class="form-check-label" for="summaryRadio">Summary</label>
                                </div>
                                <span asp-validation-for="ReportView" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-6 col-form-label">Stock Items & Services</label>
                            <div class="col-6">
                                <select asp-for="ItemID" class="form-control form-select" asp-items="ViewBag.ItemList" style="width: 100%">
                                    <option value="All">All</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <button type="submit" class="btn btn-info">Print Report</button>
                        </div>
                    </div>

                </form>
            </div>
        </div>
    </div>
</section>


