@model MonthlySalesSearch

@{
    ViewData["Title"] = "Monthly Sales Comparison";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style type="text/css">
    .form-check-input {
        width: 23px;
        height: 23px;
        margin-left: -2rem;
        margin-top: 0.08rem;
    }

    #loader-wrapper {
        position: relative;
        height: 500px;
        background: #fff; /* background color of the loader wrapper */
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #loader {
        border: 8px solid #f3f3f3; /* light grey */
        border-top: 8px solid #3498db; /* blue */
        border-radius: 50%;
        width: 50px;
        height: 50px;
        animation: spin 1s linear infinite;
    }

    #content {
        text-align: center;
        padding: 20px;
    }

    @@keyframes spin {
        0% {
            transform: rotate(0deg);
        }

        100% {
            transform: rotate(360deg);
        }
    }
</style>

<!-- Custom Js for this form -->
<script src="~/customjs/MonthlySales/MonthlySales.js"></script>
<div class="container-fluid">
    <section class="content">
        <div class="card">
            <div class="card-header"><h5>@ViewData["Title"]</h5></div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-6 col-lg-4">
                        <div class="form-group row">
                            <label class="col-6 col-form-label">Branch Name</label>
                            <div class="col-6">
                                <select id="filterCmpyId" asp-for="@Model.CmpyId" class="form-control form-select" asp-items="ViewBag.BranchNames" style="width: 100%;">
                                    <option value="0">- Select All -</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4">
                        <div class="form-group row">
                            <label class="col-6 col-form-label">Category</label>
                            <div class="col-6">
                                <select id="filterCatg" asp-for="@Model.Category" class="form-control form-select" asp-items="ViewBag.Categories" style="width: 100%;">
                                    <option value="">- Select All -</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4">
                        <div class="form-group row">
                            <label class="col-6 col-form-label">Year</label>
                            <div class="col-6">
                                <input id="filterYear" asp-for="@Model.Year" type="number" min="1900" max="2222" class="form-control" />
                            </div>
                        </div>
                    </div>
                </div>
                <input class="btn" type="submit" value="View" style="background-color: #31849B;color: white" onclick="viewMonthlySales()" />
            </div>
            <div id="loader-wrapper" style="display: none">
                <div id="loader"></div>
            </div>
            <div id="monthlySaleBody" class="card-body p-1">
            </div>
        </div>
    </section>
</div>

