@model CustomUser

@{
    ViewData["Title"] = "Change Password";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- /.login-box -->
<!-- jQuery -->
<script src="../../plugins/jquery/jquery.min.js"></script>
<!-- Bootstrap 4 -->
<script src="../../plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
<!-- AdminLTE App -->
<script src="../../dist/js/adminlte.min.js"></script>
<!-- Message fade in and out for 5 seconds -->
<script>
    $(document).ready(function () {
        setTimeout(function () {
            $("#messageBox").fadeOut();
        }, 5000);
    });
</script>

<div class="col-12">
    <div id="messageBox" class="alert alert-danger @((ViewBag.AlertMessage != null) ? "" : "d-none")" role="alert">
        @ViewBag.AlertMessage
    </div>
</div>
<div class="container-fluid">
    <div class="mb-1">
        <a class="btn btn-info" asp-action="Index">Back To List</a>
    </div>
    <div class="card">
        <div class="card-header">
            <h3 class="card-title ">Change Password</h3>
        </div>
        <form asp-action="ChangePassword" asp-controller="User" class="form-horizontal">
            <div class="col-md-6 row">
            <div class="card-body">
                @* <p>Please take note that the user will be created with default password 'User@123' if there is no password was provided.</p> *@
                <input type="hidden" asp-for="UserId" />
                <div class="form-group row">
                    <label asp-for="UserCde" class="col-sm-6 col-form-label">User Code</label>
                        <div class="col-sm-6">
                        <input asp-for="UserCde" type="text" class="form-control" readonly>
                        <span asp-validation-for="UserCde" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group row">
                        <label asp-for="UserNme" class="col-sm-6 col-form-label">UserName</label>
                        <div class="col-sm-6">
                        <input asp-for="UserNme" type="text" class="form-control" readonly>
                        <span asp-validation-for="UserNme" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group row">
                        <label asp-for="Pwd" class="col-sm-6 col-form-label">Password</label>
                        <div class="col-sm-6">
                        <input asp-for="Pwd" type="password" class="form-control" id="inputDatabase" placeholder="Password">
                        <span asp-validation-for="Pwd" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group row">
                        <label asp-for="NewPwd" class="col-sm-6 col-form-label">New Password</label>
                        <div class="col-sm-6">
                        <input asp-for="NewPwd" type="password" class="form-control" id="inputDatabase" placeholder="Confirm Password">
                        <span asp-validation-for="NewPwd" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group row">
                        <label asp-for="ConfirmPwd" class="col-sm-6 col-form-label">Confirm Password</label>
                        <div class="col-sm-6">
                        <input asp-for="ConfirmPwd" type="password" class="form-control" id="inputDatabase" placeholder="Confirm Password">
                        <span asp-validation-for="ConfirmPwd" class="text-danger"></span>
                    </div>
                </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-info">Save</button>
                    </div>
            </div>
            
            </div>
        </form>
    </div>
</div>


